.top-footer {
    background: #fff;
    color: #5b5d5f;
    border-top: 1px solid #c8b682;
}

.top-footer .grid-content {
    text-align: center;
}

.top-footer .right-border{
    display: block;
    border-right: solid 1px #c8b682; 
}

hr.show-for-small-only {
    border: dashed #c8b682;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
    display: none;
}

.moreList {
    margin-top: -30px;
}

.top-footer .mat-raised-button.top-footer-btn {
    background: #fff;
    color: #c8b682;
}

.top-footer .mat-raised-button.top-footer-btn:hover {
    background: #c8b682;
    color: #fff;
}

.top-footer a.top-footer-btn, .top-footer a.top-footer-btn:hover, .top-footer a.top-footer-btn:focus {
    text-decoration: none;
}

/* bottom footer  */
.bottom-footer{
    background: #ebedeb;
    color: #5b5d5f;
    padding: 24px;
    overflow: hidden;
}

ul.social {
    list-style: none;
    padding: 0px;
}

ul.social li {
    display: inline;
    padding: 5px;
}

ul.social li a {
    color: #5b5d5f;
    font-size: 50px;
    opacity: 1;
    text-decoration: none;
}

ul.social li a:hover {
    opacity : 0.6;
    transition: o.3s;
}

.footer-copywright{
    text-align: right;
}


/* Media Queries  */
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .top-footer .right-border{
        border: none;
    }

    hr.show-for-small-only {
        display: block;
    }

    .footer-copywright, .social{
        text-align: center;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .top-footer .right-border{
        border: none;
    }

    hr.show-for-small-only {
        display: block;
    }

    .footer-copywright, .social{
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .top-footer .right-border{
        border: none;
    }
    
    hr.show-for-small-only {
        display: block;
    }

    .footer-copywright, .social{
        text-align: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}