<div class="top-footer container-fluid">
  <div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-12 col-md-4 grid-content right-border">
            <h3>TechReels</h3>
            <p>The TechReels is the small intiative to try to make the tech related News as Vlogs in your Tamil</p>
        </div>
        <hr class="show-for-small-only">
        <div class="col-sm-12 col-md-8 grid-content">
            <div class="grid-block">
                <div class="grid-content col-sm-12 col-md-6 col-lg-6 right-border">
                <span style="font-size: 30px;"><i class="fa fa-expand" aria-hidden="true"></i></span>
                <h4 class="hide-for-small-only">More From Us</h4>
                <md-list>
                    <md-list-item class="moreList">
                        <h3 md-line><a href="https://www.youtube.com/channel/UCzNAD9nP7cU9zlWibUlHlIw" target="_blank" style="color: #c8b682">Cinereels</a></h3>
                        <p md-line>
                        <span> CineReels Tamil Channel to know the movie facts before watching the movies.</span>
                        <span class="demo-2"> We love to share about comics, Marvel, DC movies facts </span>
                        </p>
                    </md-list-item>
                </md-list>


                </div>
                <hr class="show-for-small-only">
                <div class="grid-content col-sm-12 col-md-6 col-lg-6">
                <span style="font-size: 30px;"><i class="fa fa-users" aria-hidden="true"></i></span>
                <h4>Talk to Us</h4>
                <p>
                    Tweet us at
                    <br>
                    <strong><a href="http://twitter.com/TechReels" target="_blank" style="color: #c8b682">@TechReels</a></strong>
                </p>
                <p>
                    <a class="top-footer-btn" md-raised-button (click)="openDialog()">Ask Your Query</a>
                </p>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="bottom-footer container-fluid">
    <div class="row">
    <div class="col-lg-4 col-md-4">
      <ul class="social">
        <li><a href="https://www.youtube.com/user/TheTechReels" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.facebook.com/TechReels" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/TechReels" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://plus.google.com/u/0/b/108124668920967940555/" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-lg-8 col-md-8 footer-copywright">
      <span style="font-size: 35px;">TechReels</span>
      <p class="copyright">© 2017. All rights reserved.</p>
    </div>
  </div>
</div>