<div class="container">
  <div class="mostWatched">
    <h2><span>Most Watched</span><hr></h2>
    <ul>
      <li *ngFor="let videoList of mostWatchedVideosLists">
        <div class='cards'>
          <a href={{videoList.url}} target='_blank'>
            <img src={{videoList.videothumbnail}} class='videoThumbnail thumbnailImage' style="width: 100%;border-bottom: #767676 1px solid;" alt={{videoList.videotitle}} title={{videoList.videotitle}} />
          </a>
          <div class="videoTitle"><h1><a href={{videoList.url}} target='_blank'>{{videoList.videotitle}}</a></h1></div>
        </div>
      </li>
    </ul>
  </div> 
</div>