.mostWatched h2{
    color: #666;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

.mostWatched h2 span {
    display: inline-block;
    padding: 0 10px;
    margin-left: 15px;
    z-index: 2;
    background: #fff;
    position: relative;
}

.mostWatched h2 hr {
    /* border-color: #ff9600; */
    border-color: #666;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.mostWatched ul {
    list-style-type: none; 
    padding-left: 0px;
}

.mostWatched ul li {
    margin: 10px;
    display: inline
}

.cards {
    position: relative;
    overflow: hidden;
    width: 350px;
}

.videoTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,0.5);
}

.videoTitle:hover {
    background: rgba(0,0,0,0.8);
    transition: 0.5s;
}

.videoTitle h1 a {
    color: #fff;
}
