.header {
    background: #fff; 
    color:#5b5d5f; 
    font-size:20px;
    font-weight: Bold; 
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:998;
}

.header.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo{
    display: inline;
}

.logo.logoText{
        margin-right: 20px;
}

.logo img {
    width:60px;
    margin-left: 25px
}

.navbar-default .navbar-nav>li>a {
    padding: 30px;
}

.navbar-default .navbar-nav>li:hover>a {
    background: rgba(227,208,157,1);
    color:#fff;
    transition: background 0.5s;
}

.navbar-default .navbar-nav>li.active:hover>a, .navbar-default .navbar-nav>li.active > a{
    background: rgba(227,208,157,1);
    color: #fff;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent;
}

.navbar-toggle .icon-bar {
    width: 25px;
    height: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #5b5d5f;
}
/* Media Queries  */
@media only screen and (max-width : 480px) {
    .webViewHeader {
        display: none;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 20px;
    }
    ul.nav.navbar-nav{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width : 767px) {
    .webViewHeader {
        display: none;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 20px;
    }
    ul.nav.navbar-nav{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}