<div class="header shadow">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid" style="background: #fff;;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding: 10px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="logo">
            <img src='../assets/images/logo.png'>
          </div>
          <div class="logo logoText">TechReels</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li routerLink="/dashboard" routerLinkActive="active"><a>Home</a></li>
            <li routerLink="/blogs" routerLinkActive="active"><a>Blogs</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



  <!-- <div class="row">
    <div class="col-sm-2">
      <img src='../assets/images/logo.png' style="width:60px;margin-left: 25px">
      TechReels
    </div>
    <div  class="col-sm-10 webViewHeader">
      <ul class="headerUl">
        <li routerLink="/dashboard" routerLinkActive="active"><a> Home </a></li>
        <li routerLink="/blogs" routerLinkActive="active"><a> Blogs </a></li>
      </ul>
    </div>
  </div> -->
</div>