<div class="container-fluid"  style="margin-top: 10px;margin-left: 10px;margin-bottom: 10px;">
  From <br/>
  <input type="text" class="inputField" placeholder="Enter your mail">
  <br/><br/>
  To <br>
  Editor, <br>
  The TechReels
  <br><br>
  Subject: <br>
  <input type="text" class="inputField" placeholder="Your Query is about?">
  <br><br>
  Hi, <br>
  <textarea type="text" class="inputField" placeholder="Your Detailed Query"></textarea>
  <br><br>
  Thank You <br>
  <button class="btn btn-info">Send Post</button>
</div>