.mt100 {
    margin: 25px;
    text-align: center;
}

.four-zero-four {
    font-size: 150px;
    color:#0fbcf7;
}

.descrition {
    font-size: 29px;
    font-family: 'Prompt', sans-serif;
    color: #ccc;
}