.mt100 {
    margin: 25px;
    text-align: center;
}

.four-zero-four {
    font-size: 150px;
    color :#5b5d5f;
}

.descrition {
    font-size: 29px;
    font-family: 'Prompt', sans-serif;
    color: #ccc;
}

button.mat-raised-button{
    background: #fff;
    color: #c8b682;
}

button.mat-raised-button:hover {
    background: #c8b682;
    color: #fff;
}


@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}