@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden !important;
}

.tr-container {
    width: 80%;
    margin: 0 auto;
}

button:focus, div, li, a {
    outline-color: transparent !important ;
}